In [2]:
!pip install pandas

Requirement already satisfied: pandas in d:\work\development\bharat-digital\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in d:\work\development\bharat-digital\.venv\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\work\development\bharat-digital\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\work\development\bharat-digital\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\work\development\bharat-digital\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\work\development\bharat-digital\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [14]:
pd.set_option('display.max_rows', None) # Display all rows
pd.set_option('display.max_columns', None) # Display all columns
pd.set_option('display.width', None) # Prevent wrapping
pd.set_option('display.max_colwidth', None) # Display full content of columns

In [9]:
df = pd.read_json('dummy input.json')

In [10]:
df.head()

,fin_year,month,state_code,state_name,district_code,district_name,Approved_Labour_Budget,Average_Wage_rate_per_day_per_person,Average_days_of_employment_provided_per_Household,Differently_abled_persons_worked,...,Total_No_of_JobCards_issued,Total_No_of_Workers,Total_No_of_Works_Takenup,Wages,Women_Persondays,percent_of_Category_B_Works,percent_of_Expenditure_on_Agriculture_Allied_Works,percent_of_NRM_Expenditure,percentage_payments_gererated_within_15_days,Remarks
0,2024-2025,Feb,31,UTTAR PRADESH,3109,BIJNOR,4617218,236.922173,32,297,...,263813,365397,30064,9553.441194,1292787,22,54.79,10.05,100.39,NA
1,2024-2025,Feb,31,UTTAR PRADESH,3111,RAMPUR,3265228,237.582183,53,238,...,167755,209354,22352,10202.078284,1176722,20,65.34,13.01,100.58,NA
2,2024-2025,Feb,31,UTTAR PRADESH,3112,SAHARANPUR,1513116,241.894719,32,129,...,163053,225150,28360,4180.364058,694913,30,59.62,10.34,100.77,NA
3,2024-2025,Feb,31,UTTAR PRADESH,3117,BULANDSHAHR,442225,235.835366,38,74,...,80185,97012,12105,1710.605885,272124,16,63.56,14.93,100.22,NA
4,2024-2025,Feb,31,UTTAR PRADESH,3118,ALIGARH,2320974,238.397853,39,356,...,193492,240673,28082,6681.910395,808904,22,71.41,11.97,100.07,NA

In [25]:
monthly_counts = df.groupby(['fin_year', 'month']).size().reset_index(name='entry_count')

In [26]:
monthly_counts

     fin_year  month  entry_count
0   2018-2019  April           35
1   2018-2019    Aug           13
2   2018-2019    Dec           22
3   2018-2019    Feb           13
4   2018-2019    Jan           17
5   2018-2019   July           16
6   2018-2019   June           31
7   2018-2019  March           15
8   2018-2019    May           22
9   2018-2019    Nov           16
10  2018-2019    Oct           19
11  2018-2019    Sep           30
12  2019-2020  April           20
13  2019-2020    Aug           20
14  2019-2020    Dec           11
15  2019-2020    Feb           28
16  2019-2020    Jan           15
17  2019-2020   July           14
18  2019-2020   June           18
19  2019-2020  March           22
20  2019-2020    May           16
21  2019-2020    Nov           14
22  2019-2020    Oct           15
23  2019-2020    Sep           16
24  2020-2021  April           12
25  2020-2021    Aug            7
26  2020-2021    Dec           14
27  2020-2021    Feb           15
28  2020-2021    Jan           13
29  2020-2021   July           17
30  2020-2021   June           17
31  2020-2021  March           37
32  2020-2021    May           15
33  2020-2021    Nov           27
34  2020-2021    Oct           15
35  2020-2021    Sep           19
36  2021-2022  April           12
37  2021-2022    Aug           15
38  2021-2022    Dec            8
39  2021-2022    Feb           13
40  2021-2022    Jan           17
41  2021-2022   July           18
42  2021-2022   June           12
43  2021-2022  March            9
44  2021-2022    May           14
45  2021-2022    Nov           22
46  2021-2022    Oct           27
47  2021-2022    Sep           23
48  2022-2023  April           20
49  2022-2023    Aug           18
50  2022-2023    Dec           17
51  2022-2023    Feb           12
52  2022-2023    Jan           11
53  2022-2023   July           11
54  2022-2023   June           15
55  2022-2023  March           15
56  2022-2023    May           16
57  2022-2023    Nov           18
58  2022-2023    Oct           17
59  2022-2023    Sep           17
60  2023-2024  April            9
61  2023-2024    Aug           14
62  2023-2024    Dec            9
63  2023-2024    Feb           10
64  2023-2024    Jan           15
65  2023-2024   July           16
66  2023-2024   June           14
67  2023-2024  March           19
68  2023-2024    May           30
69  2023-2024    Nov           15
70  2023-2024    Oct           13
71  2023-2024    Sep           16
72  2024-2025  April          148
73  2024-2025    Aug          315
74  2024-2025    Dec          493
75  2024-2025    Feb          181
76  2024-2025    Jan          404
77  2024-2025   July          357
78  2024-2025   June          376
79  2024-2025  March          119
80  2024-2025    May          294
81  2024-2025    Nov          307
82  2024-2025    Oct          461
83  2024-2025    Sep          437
84  2025-2026  April          490
85  2025-2026    Aug          194
86  2025-2026   July          355
87  2025-2026   June          357
88  2025-2026    May          487
89  2025-2026    Oct          189
90  2025-2026    Sep          313

In [22]:
db_new = pd.read_csv("mgnrega_export.csv")

In [23]:
new_monthly_counts = db_new.groupby(['fin_year', 'month']).size().reset_index(name='entry_count')

In [24]:
new_monthly_counts

     fin_year  month  entry_count
0   2018-2019  April           75
1   2018-2019    Aug           75
2   2018-2019    Dec           75
3   2018-2019    Feb           75
4   2018-2019    Jan           75
5   2018-2019   July           75
6   2018-2019   June           75
7   2018-2019  March           75
8   2018-2019    May           75
9   2018-2019    Nov           75
10  2018-2019    Oct           75
11  2018-2019    Sep           75
12  2019-2020    Aug           75
13  2019-2020    Dec           75
14  2019-2020    Feb           75
15  2019-2020    Jan           75
16  2019-2020   July           75
17  2019-2020   June           75
18  2019-2020  March           75
19  2019-2020    May           75
20  2019-2020    Nov           75
21  2019-2020    Oct           75
22  2019-2020    Sep           75
23  2020-2021  April           75
24  2020-2021    Aug           75
25  2020-2021    Dec           75
26  2020-2021    Feb           75
27  2020-2021    Jan           75
28  2020-2021   July           75
29  2020-2021   June           75
30  2020-2021  March           75
31  2020-2021    May           75
32  2020-2021    Nov           75
33  2020-2021    Oct           75
34  2020-2021    Sep           75
35  2021-2022  April           75
36  2021-2022    Aug           75
37  2021-2022    Dec           75
38  2021-2022    Feb           75
39  2021-2022    Jan           75
40  2021-2022   July           75
41  2021-2022   June           75
42  2021-2022  March           75
43  2021-2022    May           75
44  2021-2022    Nov           75
45  2021-2022    Oct           75
46  2021-2022    Sep           75
47  2022-2023    Aug           75
48  2022-2023    Dec           75
49  2022-2023    Feb           75
50  2022-2023    Jan           75
51  2022-2023   July           75
52  2022-2023   June           75
53  2022-2023  March           75
54  2022-2023    May           75
55  2022-2023    Nov           75
56  2022-2023    Oct           75
57  2022-2023    Sep           75
58  2023-2024  April           75
59  2023-2024    Aug           75
60  2023-2024    Dec           75
61  2023-2024    Feb           75
62  2023-2024    Jan           75
63  2023-2024   July           75
64  2023-2024   June           75
65  2023-2024  March           75
66  2023-2024    May           75
67  2023-2024    Nov           75
68  2023-2024    Oct           75
69  2023-2024    Sep           75